@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-text-main: 10, 31, 68; /* Dark Blue */
        --color-bg-main: 255, 223, 0; /* Light Maize */
        --color-bg-muted: 255, 228, 100; /* Muted Maize */
        --color-border-main: 10, 31, 68; /* Dark Blue */
    }
    html.dark {
        --color-text-main: 255, 223, 0; /* Maize */
        --color-bg-main: 10, 31, 68; /* Dark Blue */
        --color-bg-muted: 0, 20, 60; /* Muted Blue */
        --color-border-main: 255, 223, 0; /* Maize */
    }

    /* Cyan */
    /*
    :root {
        --color-text-main: 22 42 43;
        --color-bg-main: 214 224 226;
        --color-bg-muted: 204 216 219;
        --color-border-main: 22 42 43;
    }
    html.dark {
        --color-text-main: 214 224 226;
        --color-bg-main: 22 42 43;
        --color-bg-muted: 28 53 55;
        --color-border-main: 214 224 226;
    }
    */

    /* Green */
    /*
    :root {
        --color-text-main: 58 66 56;
        --color-bg-main: 243 239 230;
        --color-bg-muted: 238 233 220;
        --color-border-main: 58 66 56;
    }
    html.dark {
        --color-text-main: 243 239 230;
        --color-bg-main: 94 108 91;
        --color-bg-muted: 89 103 86;
        --color-border-main: 243 239 230;
    }
    */
}
