@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-text-main: rgb(0, 42, 84); /* U-M Deep Blue: #002A54 */
        --color-bg-main: rgb(255, 224, 102); /* Soft Maize: #FFE066 */
        --color-bg-muted: rgb(255, 239, 153); /* Lighter Maize: #FFE999 */
        --color-border-main: rgb(0, 42, 84); /* U-M Deep Blue: #002A54 */
    }
    html.dark {
        --color-text-main: rgb(255, 203, 5); /* U-M Maize: #FFCB05 */
        --color-bg-main: rgb(3, 37, 76); /* Dark U-M Blue: #03254C */
        --color-bg-muted: rgb(15, 52, 96); /* Slightly Lighter Blue: #0F3460 */
        --color-border-main: rgb(255, 203, 5); /* U-M Maize: #FFCB05 */
    }

    /* Cyan */
    /*
    :root {
        --color-text-main: 22 42 43;
        --color-bg-main: 214 224 226;
        --color-bg-muted: 204 216 219;
        --color-border-main: 22 42 43;
    }
    html.dark {
        --color-text-main: 214 224 226;
        --color-bg-main: 22 42 43;
        --color-bg-muted: 28 53 55;
        --color-border-main: 214 224 226;
    }
    */

    /* Green */
    /*
    :root {
        --color-text-main: 58 66 56;
        --color-bg-main: 243 239 230;
        --color-bg-muted: 238 233 220;
        --color-border-main: 58 66 56;
    }
    html.dark {
        --color-text-main: 243 239 230;
        --color-bg-main: 94 108 91;
        --color-bg-muted: 89 103 86;
        --color-border-main: 243 239 230;
    }
    */
}
